{% extends "videochatapp/base.html" %}
{% load static %}

{% block head %}
    <title>WebSockets | WebRTC Many-to-Many Video Conferencing</title>
    <link rel="stylesheet" href="{% static 'videochatapp/css/main.css' %}">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://rtcmulticonnection.herokuapp.com/socket.io/socket.io.js"></script>
    <script src="{% static 'videochatapp/js/RTCMultiConnection.js' %}"></script>
    <script src="{% static 'videochatapp/js/getMediaElement.js' %}"></script>
    <script src="{% static 'videochatapp/js/getScreenId.js' %}"></script>
    <script src="{% static 'videochatapp/js/RecordRTC.js' %}"></script>
    <script src="{% static 'videochatapp/js/gumadapter.js' %}"></script>
{% endblock %}

{% block content %}
<body>
<!-- <video controls autoplay id="recording"></video>
-->
    <div class="container">
        <div class="row">
            <h3 class="lead text-center">Video Conferencing</h3>
            <div class="col-md-offset-3 col-md-4">
                <div class="from-group">
                    <input class="form-control" type="text" id="roomid" value="{{ roomkey }}" placeholder="Unique room id">
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-success" id="btn-open-or-join">open or join room</button>
            </div>
            <div id="recording-container" class="col-md-3">

            </div>
        </div>

        <div class="row">
            <div id="local-video-container"></div>
            <!-- <div id="screen-local"></div> -->
            <div id="screen-remote"></div>
        </div>   
        <hr>
        <div class="row">
            <div id="remote-video-container"></div> 
        </div>
    </div>
    <div class="inner"></div>
    <script type="text/javascript" src="{% static 'videochatapp/js/main.js' %}"></script>
</body>
{% endblock %}
