{% extends "videochatapp/base.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'videochatapp/css/login.css' %}"/>   
{% endblock %}

{% block content %}
    <div class="fluid-container">
        {% if form.errors %}
            <p style="color:red" class="text-center">Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p class="text-center">Your account doesn't have access to this page. To proceed,please login with an account that has access.</p>
            {% else %}
                <p class="text-center">Please login to see this page.</p>
            {% endif %}
        {% endif %}
        {% for message in messages %}
            <p class="text-center">{{ message }}</p>
        {% endfor %}
        <div class="login-page">
            <div class="form">
                <form class="login-form" method="post" action="{% url 'login' %}">
                    {% csrf_token %}

                    <div>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </div>
                    <div>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </div>
                    <div>
                        <input type="submit" value="login" />
                        <input type="hidden" name="next" value="{{ next }}" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{# Assumes you setup the password_reset view in your URLconf #}

{% endblock %}